#content{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    background: #323232;
    margin: auto;
    margin-top: 16vh;
    border-radius: 30px;
}


#colProductos{
    width: 60%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contenedorProductos{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: auto auto auto auto;
    gap: 2vh;
}
.producto{
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 30px;

}
.cantidadProducto{
    transform: translate(-6vh, -4vh);
}

#colResumen{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
}
#resumen{
    width: 70%;
    text-align: center;
    height: 75%;
    background: #9CAEA9;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#resumen p{
    margin-top: 1vh;
}
#resumenTotal{
    margin-bottom: 1vh;
    font-size: 1.5vw;
}
#compraBtn{
    width: 70%;
    margin-top: 4vh;
    border-radius: 30px;

}
#compraBtn{
    height: 5vh;
    width: 80%;
    background: #CCDAD1;
    border: 0px;
    border-radius: 30px;
    box-shadow: #555555 0px 5px 15px;
}
#compraBtn:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#maul {
    background: url("../images/productos/maul.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#kenobi {
    background: url("../images/productos/kenobi.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
#ashoka {
    background: url("../images/productos/ashoka.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
#yoda {
    background: url("../images/productos/yoda.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#dooku {
    background: url("../images/productos/dooku.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
#grievous {
    background: url("../images/productos/grievous.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#anakin {
    background: url("../images/productos/Anakin.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
#rex {
    background: url("../images/productos/rex.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#cody {
    background: url("../images/productos/cody.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
#clon501 {
    background: url("../images/productos/clon501.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#clon212 {
    background: url("../images/productos/clon212.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
#ventress {
    background: url("../images/productos/ventress.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#droideComando {
    background: url("../images/productos/droideComando.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#droideka {
    background: url("../images/productos/droideka.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#superdroide {
    background: url("../images/productos/superdroide.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
#droideDeBatalla {
    background: url("../images/productos/droideDeBatalla.webp");
    background-size: cover;
    background-repeat: no-repeat;
}